body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#ffe169, #fad643, #edc531, #dbb42c, #c9a227, #b69121, #a47e1b, #926c15, #805b10, #6e4c0d);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 2px 3px rgb(78, 65, 43);
}

#bff-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 6px solid rgb(222, 164, 89);
}

#bday-age {
    background-color: rgb(222, 164, 89);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0px;
    background-color: rgb(222, 164, 89);
    padding: 5px 10px;
    border-radius: 5px;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0px;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url('image/ai-generated-top-view-photo-of-present-box-in-christmas-style-with-red-bow-and-ribbon-without-background-png.webp');
    background-size: cover;
}


#gift-img-happy:hover {
    background-image: url(image/giphy.gif);
}

#gift-img-hot:hover {
    background-image: url(image/giphy.gif);

}

#gift-img-genius:hover {
    background-image: url(image/giphy.gif);
}

#gift-img-badass:hover {
    background-image: url(image/giphy.gif);
}

#gift-img-cheers:hover {
    background-image: url(image/giphy.gif);

}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}